<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="./vendor/autoload.php"
        colors = 'true'
        verbose = 'true'
        testOnFailure = 'false'>
    <testsuites>
        <testsuite name="test suits">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>


